@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #929d92;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%23cacaca' fill-opacity='0.36' fill-rule='evenodd'/%3E%3C/svg%3E");

  color: rgb(214, 206, 206);
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  width: auto;
  max-width: 900px;

  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgba(78, 92, 79, 0.6);
  /* x y blur raidus color */
  box-shadow: 0 10px 10px 10px rgba(61, 61, 61, 0.2);
}
.quote-text {
  font-size: 2.25rem;
}

.long-quote {
  font-size: 1.8rem;
}

.fa-quote-left {
  font-size: 4rem;
}

.quote-author {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
}

.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: rgb(214, 206, 206);

  background-color: rgba(78, 92, 79);

  /* box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65); */
  outline: none;
  padding: 0.5rem 1.8rem;

  margin: 15px 15px;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translate(0, 0.2rem);
  /* box-shadow: 0 0.1rem rgba(102, 102, 102, 0.65); */
}

.twitter-button:hover {
  color: #38a1f3;
}
.fa-twitter {
  font-size: 1.5rem;
}

/* ------------------------------ */
/* spinner */

.loader {
  border: 4px solid rgb(147, 155, 111); /* Light grey */
  border-top: 4px solid rgb(214, 206, 206); /* Blue */
  border-radius: 50%;
  margin: 18px 18px;
  padding: 0.5rem;
  width: 0.4rem;
  height: 0.4rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ------------------------------ */
/* media query:tablet or smaller */

@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }
  .quote-text {
    font-size: 1.8rem;
  }
  .long-quote {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 410px) {
  #new-quote {
    font-size: 0.6rem;
  }
  .loader {
    margin-top: 15px 0;
    width: 0.3rem;
    height: 0.3rem;
  }
}
